{% extends "base.html.twig" %}

{% block body %}
{% if categorie %}
    <h1 class="text-center">{{categorie.name}}</h1>
    <hr class="my-3">
    <h2 class="mb-3">Liste des articles de cette catégorie</h2>
    <ul class="list-group">
        {% for article in categorie.articles %}
            <li class="list-group-item">
                <a href={{path('article_single', {id:article.id})}}>{{article.title}}</a>
            </li>
        {% endfor %}
    </ul>
    <hr class="my-3">
    <div>
        <p>Options:</p>
        <div>
            <a href={{path('categorie_update', {id: categorie.id})}}>
                <button class="btn btn-primary">Modifier</button>
            </a>
            <a href={{path('categorie_delete', {id: categorie.id})}}>
                <button class="btn btn-danger">Supprimer</button>
            </a>
        </div>
    </div>
{% else %}
    <h1>Cette catégorie n'existe pas</h1>
{% endif %}
{% endblock %}